input, textarea{
	width: 100%;
	margin-bottom: 20px;
	padding: 7px;
	box-sizing: border-box;
	font-size: 17px;
	border: auto;
}
textarea{
	min-height: 100px;
	max-height: 200px;
	max-width: 100%;
}

iframe{
	width:600px;
	height:300px;
	border:0; 
	width: 100%;"
}

.item #mensaje{
	margin-right: 10px;
	padding-bottom: 10px;

}