.header_section{
	margin-bottom: 80px;
}
.container_total{
	margin-top: 300px;
}

.card{
	width: 750px;
	margin-left: 100px;
	margin-bottom: 50px;
}

.btn{
	width: 100px;
	height: 40px;
	font-size: 15px;
	margin-left: 350px;
	margin-bottom: 10px;
}