.header_section{
	margin-bottom: 80px;
}


.card{
	width: 900px;
	margin-left: 100px;
	margin-bottom: 80px;
}
.card #foto_perfil{
	width: 200px;
	margin-left: 40px;
	margin-top: 20px;
}

.btn{
	width: 100px;
	height: 40px;
	font-size: 15px;
	margin-right: 30px;
	float: right;
	margin-bottom: 10px;
}

.card #fecha{
	font-size: 18px;
	font-style: italic;
	margin-left: 75px;

}

#corazon{
	background-color: #FFFFFF;
	background-image:none;
	border: none; 
	margin-left: 360px;
	margin-bottom: 15px;
}