#card-text{
	overflow: hidden !important;

}

object{
	width: 480px;
	height: 315px;
	margin-top: 55px;
	margin-left: 60px;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	backface-visibility: all;;
	background-color: ;
}


#Info{
	width: 400px;
	margin-top: 10px;
}

.btn{
	background-color: #fff;
	border: none;
	color: #1B94E3;
	margin-left: 220px;
	margin-top: 30px;
}
#resena_texto{
	margin-bottom: 10px;
}

.modal-body{
	text-align: justify;
}
#Info2{
	width: 400px;
	margin-top: 60px;
}