.container_total{

    margin-top: 160px;
}

#Info{
	width: 350px;
	margin-left: 30px;
	margin-bottom: 80px;
}

#botonReseña{
	background-color: #fff !important;
	border: none !important;
	color: #1B94E3 !important;
	margin-left: 220px;
	margin-top: 30px;
}
#resena_texto{
	margin-bottom: 10px;
}
#carousel-inner img{
	height: 200px !important;
	width: 200px !important;	
}
#multi-item-example{	
	border: none;
	align-content: left ;	
}

@media (min-width: 768px) {
.carousel-multi-item-2 .col-md-3 {
float: left;
width: 25%;
max-width: 100%; } }

.carousel-multi-item-2 .card img {
border-radius: none; }


.card{
	width: 900px;
	margin-left: 100px;
	margin-bottom: 80px;
}
.card #foto_perfil{
	width: 200px;
	margin-left: 40px;
	margin-top: 20px;
}

#botonTema{
	width: 100px !important;
	height: 40px !important;
	font-size: 15px !important;
	margin-right: 30px !important;
	float: right !important;
	margin-bottom: 10px !important;
}

.card #fecha{
	font-size: 18px;
	font-style: italic;
	margin-left: 75px;
	margin-top: 60px;

}

#corazon{
	background-color: #FFFFFF;
	background-image:none;
	border: none; 
	margin-right: 30px;
	margin-bottom: 15px;
}

.numero{
	margin-left: 340px;
	color: #C81B2B;
}