.header_section{
	margin-bottom: 80px;
}
.container_total{
	margin-top: 300px;
}

#cardPrincipal{
	margin-left: 200px;
	width: 900px;
}
#cardPrincipal button{
	margin-left: 470px;
}
#cardPrincipal img{
	width: 250px;
}
#cardPrincipal #fecha{
	font-size: 15px;
	font-style: italic;
	margin-left: 60px;

}
.card{
	width: 700px;
	margin-left: 100px;
	margin-bottom: 50px;
}
#foto_perfil{
	width: 150px;
}
.btn{
	width: 100px;
	height: 40px;
	font-size: 15px;
	margin-left: 20PX;
	
}
.card #fecha{
	font-size: 12px;
	font-style: italic;
	margin-left: 20px;

}
.card button{
	margin-left: 300px;
}
