.header_section{
	margin-bottom: 80px;
}
.container_total{
	margin-top: 300px;
}

#cardPrincipal{
	margin-left: 100px;
	width: 900px;

}
#cardPrincipal button{
	margin-left: 470px;
}
#cardPrincipal img{
	width: 250px;
}
#cardPrincipal #fecha{
	font-size: 15px;
	font-style: italic;
	margin-left: 60px;

}
.btn{
	width: 100px;
	height: 40px;
	font-size: 15px;
	margin-left: 20PX;
	
}
#cardSecundaria{
	width: 750px;
	margin-left: 230px;
	margin-top: 50px;
	margin-bottom: 15px !important;
}
#foto_perfil{
	width: 150px;
}

#cardSecundaria #fecha{
	font-size: 12px;
	font-style: italic;
	margin-left: 20px;

}
#cardSecundaria button{
	margin-left: 350px;
}

#cardTercera #fecha{
	font-size: 12px;
	font-style: italic;
	margin-left: 20px;

}

#cardTercera{
	width: 750px;
	height: 230px;
	margin-left: 360px;
	margin-bottom: 15px !important;
}

.modal{
	margin-top: 150px;	
}
.modal textarea{
	height: 200px;
}

#submit{
	margin-left: 350px;
}

